:root{
    --blue-color:#0075ff;
    --blue-alt-color:#0d69d5;
    --orange-color:#f59e0b;
    --green-color:#22c55e;
    --red-color:#f44336;
    --grey-color:#888;
}
/* Start box*/
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.d-grid{
    display: grid;
}
.gap-20{
    gap: 20px;
}
@media (max-width:767px){
    .block-mobile{
        display: block;
    }
}
/* Endbox*/

/* start Padding + margin*/
.m-0{
    margin: 0;
}
.p-10{
    padding: 10px;
}
.p-15{
    padding: 15px;
}
.p-20{
    padding: 20px;
}
.m-20{
    margin: 20px;
}
.mt-0{
    margin-top: 0;
}
.mt-10{
    margin-top: 10px;
}
.mb-10{
    margin-bottom: 5px;
}
/* End Padding + margin*/

/*start color*/
/* .bg-white{
    background-color: white;
    
}
.bg-eee{
    background-color: #eee;
} */
.c-black{
    color: black;
}
.c-grey{
    color: grey;
}
.c-red{
    color: red;
}
/*End color*/

/*start Font*/
.txt-c{
    text-align: center;
}
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
@media (max-width:767px) {
    .txt-c-mobile{
        text-align: center;
    }
}
/*End Font*/


/*start position*/
.p-relative{
    position: relative;
}
/*End position*/

/*Start border*/
.rad-6{
    border-radius: 6px;
}
.rad-10{
    border-radius: 10px;
}
.rad-half{
    border-radius: 50%;
}
/*End Border*/

/* start component */
.between-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* End component */

/* start width+height */
.w-full{
    width: 100%;
}
.w-70{
width: 70%;
}
/* end width+height */

